*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('image2.png') no-repeat;
    background-size: 100% 100%;
}
header{
    background: linear-gradient(70deg,#fff1a8,#ba6227);
    color: black;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    gap: 70px;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav a:hover{
    background-color: aqua;
    transition: 0.3s;
}
/*Footer */
footer{
    background: linear-gradient(70deg,#fff1a8,#ba6227);
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
main{
    padding: 20px;
}
.content{
/* padding: 20px; */
text-align: center;
color: rgb(41, 24, 3);
}

/* Cards */
.card-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card{
    background-color: wheat;
    width: 400px;
    height: auto;
    /* border: 1px solid; */
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 2px 5px green;
}
.card img{
    width: 90%;
    height: 200px;
}
.card h3{
    margin: 0;
    padding: 10px;
    color: #49230a;
}
.card p{
    padding: 5px;
    color: black
}
.card button{
    /* background-color: #49230a; */
    color: rgb(243, 6, 6);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
}
.card button:hover{
    background-color: #ff6200;
    border: 20px;
}